<footer class="text-center fixed-bottom mt-auto bg-dark mt-3 py-2">
  <div class="container">
    <div class="row text-muted">
      <div class="col">
        <span class="lead"> &copy;YelpCamp 2023 </span>
      </div>
      <div class="col">
        <span class="lead">Uko Chibuike Malachi</span>
      </div>
    </div>
  </div>
</footer>
