<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">YELPCAMP</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active lead text-dark" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead text-dark" href="/campgrounds">Campgrounds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead text-dark" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead text-dark" href="/auth/login">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead text-dark" href="/auth/register">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="my-5 text-center">
      <h1 class="display-1 lead text-center fw-bold text-light">YelpCamp</h1>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col">
            <p class="lead text-center text-light lead my-5">
              Welcome :) to YelCamp. Good to have you here.<br />
              Surf through our amazing campgrounds. <br />
              Tell us what you think about them. You're free to share yours too.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <a href="/campgrounds" class="btn btn-lg lead  btn-outline-light">Camp in</a>
          </div>
          <div class="col-12 my-3">
            <a href="/yelpcamp/demo-user" class="btn btn-lg btn-success"
              >Demo user</a
            >
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
      ></script>
    </main>
  </body>
</html>
