<% layout('layout/boilerplate') -%>
<div class="container-lg my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 shadow-lg rounded p-5">
      <h1 class="text-center display-5">New Campground</h1>
      <form
        action="/campgrounds"
        class="lead validate-form"
        method="post"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3 has-validation">
          <label class="form-label" for="title">Campground Title:</label>
          <input
            type="text"
            class="form-control"
            name="campground[title]"
            id="title"
            placeholder="Campground title"
            required
          />
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Please provide a title</div>
        </div>

        <div class="mb-3 has-validation">
          <label class="form-label" for="location">Campground location:</label>
          <input
            type="text"
            class="form-control"
            name="campground[location]"
            id="location"
            placeholder="Campground location"
            required
          />
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Location required for campground</div>
        </div>

        <div class="mb-3 has-validation">
          <label for="image" class="form-label">Images</label>
          <input
            class="form-control form-control-sm"
            name="image"
            id="image"
            type="file"
            required
            multiple
          />
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">choose a file to upload</div>
        </div>

        <label class="form-label mb-3" for="image">Campground Price:</label>
        <div class="input-group mb-3 has-validation">
          <span class="input-group-text" id="price">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            name="campground[price]"
            id="price"
            aria-label="price"
            aria-describedby="price"
            required
          />
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Campground must have a price</div>
        </div>
        <div class="mb-3 has-validation">
          <label class="form-label" for="description">Description</label>
          <textarea
            rows="5"
            class="form-control"
            name="campground[description]"
            id="description"
            placeholder="Campground description"
            required
          ></textarea>
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">A brief description is needed</div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success me-3">Add campground</button>
          <a href="/campgrounds" class="btn btn-primary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
